@define-mixin --ASPECT {
	& {
		display: block;
		position: relative;
		overflow: hidden;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover; /* fullscreen */
	}

	&-bd {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	/**
	 * Container-width based
	 */

	&:after {
		content: " ";
		display: block;
		padding-top: 100%;
		width: 100%;
	}

	&_4x3:after {
		padding-top: 75%;
	}

	&_16x9:after {
		padding-top: 56.25%;
	}

	/**
	 * Text-size based
	 */

	&_txt {
		display: inline-block;
		width: calc(var(--ASPECT_TEXT_MODIFIER) * 1ex);
		height: calc(var(--ASPECT_TEXT_MODIFIER) * 1ex);
	}

	&_txt_4x3 {
		width: calc(var(--ASPECT_TEXT_MODIFIER) * 1.333ex);
	}

	&_txt_16x9 {
		width: calc(var(--ASPECT_TEXT_MODIFIER) * 1.777ex);
	}

	&_txt:after {
		display: none;
	}
}

@define-mixin --M_ASPECT {
	&_lb {
		background-size: contain; /* letterboxed */
	}
}

.aspect { @mixin --ASPECT; }
.m-aspect { @mixin --M_ASPECT; }

@media (--BP_SMALL) {
	.bpSm-aspect { @mixin --ASPECT; }
	.bpSm-m-aspect { @mixin --M_ASPECT; }
}

@media (--BP_MEDIUM) {
	.bpMd-aspect { @mixin --ASPECT; }
	.bpMd-m-aspect { @mixin --M_ASPECT; }
}

@media (--BP_LARGE) {
	.bpLg-aspect { @mixin --ASPECT; }
	.bpLg-m-aspect { @mixin --M_ASPECT; }
}
