/* quarantine.css | MIT License | github.com/apticknor/quarantine.css */

/*
 Clearfix

 * Always clear unknown content as it may contain a float
========================================================================== */
.semantic:before,
.semantic:after {
    content: " ";
    display: table;
}

.semantic:after {
    clear: both;
}

/*
 Baseline

 1. Set the container to inherit basic styles from it's parent
 2. Make sure long words line break appropriately
 3. Remove excess margin from the first and last child and use !important to override inheritance from ancestors
========================================================================== */
.semantic {
    color: inherit; /* 1 */
    font-family: inherit;  /* 1 */
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5;
    word-wrap: break-word; /* 2 */
}

.semantic_sm {
    font-size: 0.75em;
}

.semantic_tight {
	max-width: 400px;
}

.semantic > * + * {
    margin-top: var(--GUTTER_MEDIUM);
}

/*
 Embedded Content & Media

 * All media set to max-width 100% to prevent it from overflowing the container
 1. !important to override inheritance from ancestors
 2. If a piece of media does not have a container, keep the flow intact
========================================================================== */
.semantic img,
.semantic iframe,
.semantic embed,
.semantic object,
.semantic video,
.semantic audio,
.semantic canvas,
.semantic picture {
    max-width: 100% !important; /* 1 */
}

/* 2 */
.semantic > img,
.semantic > iframe,
.semantic > embed,
.semantic > object,
.semantic > video,
.semantic > audio,
.semantic > canvas,
.semantic > picture {
    display: block;
}

/*
 Anchors
========================================================================== */
.semantic a:link,
.semantic a:visited {
    color: var(--COLOR_ACCENT);
}

.semantic a:focus,
.semantic a:hover {
    color: var(--COLOR_ACCENT_DARK);
    text-decoration: underline;
}

.semantic a:active {
    color: var(--COLOR_PRIMARY_DARK);
}

/*
 Paragraphs
========================================================================== */
.semantic * + p {
    margin-top: var(--GUTTER_MEDIUM);
}

/*
 Headings

 1. Take advantage of margin collapsing to create greater space above a heading
 2. Reduce line-height as headings are much larger than body copy
 3. Headings should stay the same color as intended and not inherit link styles and use !important to override inheritance from ancestors
========================================================================== */
.semantic h1,
.semantic h2,
.semantic h3,
.semantic h4,
.semantic h5,
.semantic h6 {
	color: var(--COLOR_PRIMARY);
    font-family: var(--FONT_FAMILY_ACCENT);
    font-size: var(--FONT_SIZE_MEDIUM);
    font-weight: normal;
    line-height: 1.22;
}

.semantic * + h1,
.semantic * + h2,
.semantic * + h3,
.semantic * + h4,
.semantic * + h5,
.semantic * + h6 {
    margin-top: var(--GUTTER_MEDIUM);
}

.semantic h2 {
    font-size: var(--FONT_SIZE_LARGE);
}

.semantic h1 a,
.semantic h2 a,
.semantic h3 a,
.semantic h4 a,
.semantic h5 a,
.semantic h6 a {
    color: inherit !important; /* 3 */
}

/*
 Blockquote

 1. Push content away from the vertical rule more than the normal spacing
========================================================================== */
.semantic blockquote {
    box-sizing: border-box;
    border-left: 5px solid var(--COLOR_WHITE_DARK);
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1.3125em;
    font-style: italic;
}

.semantic * + blockquote {
    margin-top: var(--GUTTER_MEDIUM);
}

.semantic blockquote footer {
    color: var(--COLOR_GRAY);
    font-size: 0.666em;
}

/*
 Address

 1. Mimic browser default text style - italics
========================================================================== */
.semantic address {
    font-style: italic; /* 1 */
}

.semantic * + address {
    margin-top: var(--GUTTER_MEDIUM);
}

/*
 Horizontal Rule

 1. Set an explicit 1px height for the horizontal rule
 2. Remove borders for maximum browser support
 3. Set the color of the horizontal rule as both color and background-color for maximum browser support
 4. Reduce font-size and line-height to keep height from exceeeding 1px
========================================================================== */
.semantic hr {
    height: 1px; /* 1 */
    border: none; /* 2 */
    background: var(--COLOR_FOREGROUND); /* 3 */
    color: var(--COLOR_FOREGROUND); /* 3 */
    line-height: 1px; /* 4 */
}

.semantic * + hr {
    margin-top: var(--GUTTER_MEDIUM);
}

/*
 Inline Text

 * Mimics browsers as close as possible while maintaining cross browser consistency
 * Includes some invalid legacy elements as they may be added by older WYSIWYG editors
========================================================================== */
.semantic strong,
.semantic b {
    font-weight: bold;
}

.semantic em,
.semantic i {
    font-style: italic;
}

.semantic del,
.semantic strike,
.semantic s {
    text-decoration: line-through;
}

.semantic u,
.semantic ins {
    text-decoration: underline;
}

.semantic mark {
    background-color: var(--COLOR_HIGHLIGHT);
}

.semantic sup {
    position: relative;
    top: -0.2em;
    font-size: smaller;
}

.semantic sub {
    position: relative;
    bottom: -0.2em;
    font-size: smaller;
}

.semantic big {
    font-size: larger;
}

.semantic small {
    font-size: smaller;
}

.semantic abbr,
.semantic acronym {
    border-bottom: 1px dotted;
}

.semantic cite,
.semantic dfn {
    font-style: italic;
}

.semantic q {
    font-style: italic;
}

.semantic q::before {
    content: open-quote;
}

.semantic q::after {
    content: close-quote;
}

.semantic q:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.semantic bdo,
.semantic bdi {
    direction: rtl;
}

.semantic blink {
    text-decoration: blink;
}

/*
 Lists
 1. Indent lists and leave room for the list item mark
 2. Second level nested lists
 3. Third level nested lists
========================================================================== */
.semantic * + ul,
.semantic * + ol,
.semantic * + dl {
    margin-top: var(--GUTTER_MEDIUM);
}

.semantic ul {
    list-style-type: disc;
}

.semantic ol {
    list-style-type: decimal;
}

.semantic dt {
    font-weight: bold;
}

.semantic li,
.semantic dd {
    margin-left: 1.7rem; /* 1 */
}

/* 2 */
.semantic ol ul,
.semantic ul ul {
    list-style-type: circle;
}

/* 3 */
.semantic ol ol ul,
.semantic ol ul ul,
.semantic ul ol ul,
.semantic ul ul ul {
    list-style-type: square;
}


/*
 Tables
 1. Table should never overflow their parent container and will always use 100% of the container and use !important to override inheritance from ancestors
 2. Remove excess margin from the first and last child and use !important to override inheritance from ancestors
========================================================================== */
.semantic table {
    width: 100% !important; /* 1 */
    border-spacing: 0;
    border-collapse: collapse;
}

.semantic * + table {
    margin-top: var(--GUTTER_MEDIUM);
}

.semantic caption {
    font-size: smaller;
    padding: 0.5em 0.666em;
    text-align: center;
}

.semantic tr {
    vertical-align: middle;
}

.semantic tbody {
    vertical-align: middle;
}

.semantic thead {
    vertical-align: middle;
}

.semantic tfoot {
    vertical-align: middle;
}

.semantic td {
	font-size: var(--FONT_SIZE_SMALL);
    vertical-align: top;
    text-align: left;
    padding: 0.5em 0.666em;
    border-top: 1px solid var(--COLOR_WHITE_DARK);
}

.semantic th {
	font-size: var(--FONT_SIZE_SMALL);
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    padding: 0.444em 0.666em;
    border-top: 1px solid var(--COLOR_WHITE_DARK);
    background-color: transparent;
}

.semantic td:first-child,
.semantic th:first-child {
	padding-left: 0;
}

.semantic td:last-child,
.semantic th:last-child {
	padding-right: 0;
}

@media (--BP_SMALL) {
    .semantic td,
    .semantic th {
        font-size: var(--FONT_SIZE_XSMALL);
    }
}

/*
 Computer Output

 1. `code` styles get reset when `code` is nested inside `pre`
========================================================================== */
.semantic pre {
    padding: 2rem;
    border: 1px solid var(--COLOR_WHITE_DARK);
    background-color: var(--COLOR_WHITE_DARK);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    border-radius: 2px;
    white-space: pre-wrap;
    word-break: break-all;
}

.semantic * + pre {
    margin-top: var(--GUTTER_MEDIUM);
}

.semantic code {
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid var(--COLOR_WHITE_DARK);
    background-color: var(--COLOR_WHITE_DARK);
    color: var(--COLOR_FOREGROUND);
    font-size: 14px;
    border-radius: 2px;
}

.semantic pre code {
    display: block;
    padding: 0; /* 1 */
    background-color: transparent; /* 1 */
    border: none; /* 1 */
    font-size: inherit; /* 1 */
    color: inherit; /* 1 */
    border-radius: 0; /* 1 */
}

.semantic code,
.semantic samp,
.semantic tt,
.semantic kbd,
.semantic var {
    font-family: "Lucida Console", Monaco, monospace;
}

.semantic var {
    font-style: italic;
}
