@define-mixin --GRID {
    & {
        display: flex;
        margin-left: -var(--GUTTER_MEDIUM);
        margin-right: -var(--GUTTER_MEDIUM);
    }

    & > * {
        flex: 1 1 auto;
        padding-left: var(--GUTTER_MEDIUM);
        padding-right: var(--GUTTER_MEDIUM);
    }

    &-col_max  {
        flex: 1 1 auto;
        max-width: none;
    }

    &-col_min  {
        flex: 0 0 auto;
        max-width: none;
    }

    &-col_1of1 {
        flex-basis: 100%;
        max-width: 100%;
    }

    &-col_1of2 {
        flex-basis: 50%;
        max-width: 50%;
    }

    &-col_1of3 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    &-col_1of4 {
        flex-basis: 25%;
        max-width: 25%;
    }

    &-col_2of3 {
        flex-basis: 66.666%;
        max-width: 66.666%;
    }

    &-col_3of4 {
        flex-basis: 75%;
        max-width: 75%;
    }
}

@define-mixin --M_GRID {
    &_b { align-items: flex-end; }
    &_m { align-items: center; }
    &_c { justify-content: center; }
    &_r { justify-content: flex-end; }

    &-col_b { align-self: flex-end; }
    &-col_m { align-self: center; }
    &-col_t { align-self: flex-start; }

    &_flush {
        margin-left: 0;
        margin-right: 0;
    }

    &_flush > * {
        padding-left: 0;
        padding-right: 0;
    }

    &_sm {
        margin-left: -var(--GUTTER_SMALL);
        margin-right: -var(--GUTTER_SMALL);
    }

    &_sm > * {
        padding-left: var(--GUTTER_SMALL);
        padding-right: var(--GUTTER_SMALL);
    }

    &_md {
        margin-left: -var(--GUTTER_MEDIUM);
        margin-right: -var(--GUTTER_MEDIUM);
    }

    &_md > * {
        padding-left: var(--GUTTER_MEDIUM);
        padding-right: var(--GUTTER_MEDIUM);
    }

    &_lg {
        margin-left: -var(--GUTTER_LARGE);
        margin-right: -var(--GUTTER_LARGE);
    }

    &_lg > * {
        padding-left: var(--GUTTER_LARGE);
        padding-right: var(--GUTTER_LARGE);
    }
}

.grid { @mixin --GRID; }
.m-grid { @mixin --M_GRID; }

@media (--BP_SMALL) {
    .bpSm-grid { @mixin --GRID; }
    .bpSm-m-grid { @mixin --M_GRID; }
}

@media (--BP_MEDIUM) {
    .bpMd-grid { @mixin --GRID; }
    .bpMd-m-grid { @mixin --M_GRID; }
}

@media (--BP_LARGE) {
    .bpLg-grid { @mixin --GRID; }
    .bpLg-m-grid { @mixin --M_GRID; }
}
