.site {
	padding: var(--gutter);
}

.site-skip {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.site-skip:hover,
.site-skip:focus {
	opacity: 1;
}

.site-bd,
.site-ft {
	margin-top: calc(var(--gutter) / 2);
}
