@define-mixin --VR {
	& > * + * {
		margin-top: var(--GUTTER_MEDIUM);
	}

	&Flush > * + *,
	&-flush {
		margin-top: 0;
	}

	&Sm > * + *,
	&-sm {
		margin-top: var(--GUTTER_SMALL);
	}

	&Md > * + *,
	&-md {
		margin-top: var(--GUTTER_MEDIUM);
	}

	&Lg > * + *,
	&-lg {
		margin-top: var(--GUTTER_LARGE);
	}
}

.u-vr { @mixin --VR; }

@media (--BP_SMALL) {
	.bpSm-u-vr { @mixin --VR; }
}

@media (--BP_MEDIUM) {
	.bpMd-u-vr { @mixin --VR; }
}

@media (--BP_LARGE) {
	.bpLg-u-vr { @mixin --VR; }
}
