:root {
	--spread: {
		& {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		&_top {
			align-items: flex-start;
		}

		&_mid {
			align-items: center;
		}

		&_btm {
			align-items: flex-end;
		}
	};
}

.spread { @apply --spread; }

@media (--small) {
	.bpSm-spread { @apply --spread; }
}

@media (--medium) {
	.bpMd-spread { @apply --spread; }
}

@media (--large) {
	.bpLg-spread { @apply --spread; }
}
