---
title:
canonical: /
---
{{#extend "layouts/main"}}
	{{#content "body"}}
		<div class="bpMd-grid bpLg-grid bpLg-m-grid_ctr">
			<div class="bpMd-grid-col_1fo4 bpLg-grid-col_1of3">
				<div class="aspect aspect_block">
					<svg class="aspect-bd" role="presentation">
						<use xlink:href="/assets/images/sprites.svg#ghost" />
					</svg>
				</div>
			</div>

			<div class="bpMd-grid-col_1fo4 bpLg-grid-col_1of3">
				<div class="aspect aspect_block">
					<svg class="aspect-bd" role="presentation">
						<use xlink:href="/assets/images/sprites.svg#taco" />
					</svg>
				</div>
			</div>
		</div>
	{{/content}}
{{/extend}}
