@define-mixin --HIDDEN {
	display: none !important;
}

@define-mixin --VISUALLY_HIDDEN {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
	border: 0 !important;
	clip: rect(1px 1px 1px 1px) !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
}

@define-mixin --VISIBLE {
	display: none !important;
}

.u-hidden { @mixin --HIDDEN; }
.u-visuallyHidden { @mixin --VISUALLY_HIDDEN; }
.u-visible { @mixin --VISIBLE; }

@media (--BP_SMALL) {
	.bpSm-u-hidden { @mixin --HIDDEN; }
	.bpSm-u-visuallyHidden { @mixin --VISUALLY_HIDDEN; }
	.bpSm-u-visible { @mixin --VISIBLE; }
}

@media (--BP_MEDIUM) {
	.bpMd-u-hidden { @mixin --HIDDEN; }
	.bpMd-u-visuallyHidden { @mixin --VISUALLY_HIDDEN; }
	.bpMd-u-visible { @mixin --VISIBLE; }
}

@media (--BP_LARGE) {
	.bpLg-u-hidden { @mixin --HIDDEN; }
	.bpLg-u-visuallyHidden { @mixin --VISUALLY_HIDDEN; }
	.bpLg-u-visible { @mixin --VISIBLE; }
}
